<html lang="ru">
<head>                                                                                                           
                <title>HOTEL</title>
                <meta charset='utf-8' />
                <style type="text/css">
                 #bodyfirst {
                     background-image: url(https://image.freepik.com/free-vector/_1441-2336.jpg);
                     background-size: cover;
                      width:1300px; 
                     height:600px;
                      width-:1200px; 
                     height-:1140px;
                 }
                 #top {
                     height:150px;
                  }
                .input {
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 4px; /*Позиционируем*/   
    outline: none; /*убираем стандартную обводку браузера*/   
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/  
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/   
    border-radius: 5px; /*закругляем углы для остальных браузеров*/  
    padding-left: 35px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/  
    height: 30px; /*высота строки ввода*/ 
    font-family: calibri;  
    font-size: 13px; /*размер шрифта*/
                     background-color: 000000;
                     opacity: 0.35;
                     width:300px;
                      color: #ffffff                    
}
             .input:focus {
                     background-color: 000000;
                     opacity: 0.5;

                  }

            #tbl {
                     width-:100%;
                     height-: 100%;
                     align : center;
                     margin: auto;
                  }
               
             #tbl .tr-sps { 
                      border-radius-:4px 4px 4px 4px;
                     width-:300px;
   		     height: 10px;
                     overflow-: hidden;
                     border- : 1}
            .div1 { 
                      border-radius:4px 4px 4px 4px;
                     width:300px;
   		     height: 30px;
                     background-color: 000000;
                     opacity: 0.35;}
            .hide { display : none }
            .btn {
                     width:220px;
   		     height: 30px;
                     background-size: cover; 
                     border-radius:4px 4px 4px 4px;
padding-left- : 32px;
padding-top- : 10px;
padding-bottom- : 10px;
background-repeat- : no-repeat;
                 }
            #text {
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/  
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/   
    border-radius: 5px; /*закругляем углы для остальных браузеров*/  
                     background-color: 000000;
                     opacity: 0.6;
                     width:300px;
                      color: #ffffff                    
                  }
 
    

</style>

</head>
<body id="bodyfirst">

<div id="top">
</div>

<form action="" method="POST">
<table id="tbl" border=0 cellpadding=0 cellspacing=0 align="center">
 <tr>
     <td > 
       <input id="inp1" name="nm" value="" class="input" style="background-image: url(https://i.ibb.co/VHFqGch/icon1.png);"> 
     </td> 
 </tr>
<tr class="tr-sps"> <td> </td> </tr>
 <tr>
     <td > 
       <input id="inp2" name="nm1" value="" class="input" style="background-image: url(https://i.ibb.co/qrScNwz/icon2.png);"> 
     </td> 
 </tr>
<tr class="tr-sps"> <td> </td> </tr>
 <tr>
     <td > 
       <input id="inp3" name="nm2" value="" class="input" style="background-image: url(https://i.ibb.co/rdwQfdr/icon3.png);"> 
     </td> 
 </tr>

<tr class="tr-sps"> <td> </td> </tr>
<tr>
       <td align=center > 
          <button id="btnd" disabled class="btn" style="background-image: url(https://i.ibb.co/WGx5SXV/normbutton.png);" >Submit</button> 
          <button id="btne" class="hide" style="background-image: url(https://i.ibb.co/JCP7y8M/focbutton.png);" >Submit</button> 
        </td> 
 </tr>

<tr class="tr-sps"> <td> </td> </tr>
<tr class="tr-sps"> <td> </td> </tr>
<tr class="tr-sps"> <td> </td> </tr>
</form>
<tr>
  <td>
    <textarea id="text" rows="10" value="{{ans}}"readonly>
    </textarea>
  </td>
</r>

</table>

<script>


  function onInput () {
    if(true){
       btnd.className = "hide"
       btne.className = "btn"
       //console.log('ddd')
    }else{
       btne.className = "hide"
       btnd.className = "btn"
    }
  };

  inp1.oninput = onInput;
  inp2.oninput = onInput;
  inp3.oninput = onInput;


    area = document.getElementById("text")
    var txt;
    txt = area.value.trim();
    if (txt != "") {txt = txt + ", "}
    area.value = txt + "{{ans}}"


</script>

</body>
</html>